{% extends "base_webapp.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="{{ post.picture.url }}" class="card-img" alt="image">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ post.author }}</h5>
        <p class="card-text"><b>{{ post.author }}</b> {{ post.description }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}