{% extends "base_webapp.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="card mb-3" style="width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="{{ post.picture.url }}" class="card-img" alt="image" style="width:100%;">
      <div>
        <a href="{% url 'webapp:put_likes' post.pk %}">like</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ post.author }}</h5>
        <p class="card-text"><b>{{ post.author }}</b> {{ post.description }}</p>
        {% for comment in comments %}
          <p class="card-text"><b>{{ comment.author }}</b> {{ comment.text }}</p>
        {% endfor %}
        {% if user.is_authenticated %}
        <form action="{% url 'webapp:comment_create' post.pk %}" method="post">
          {% include 'partial/comment_form.html' %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}