{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block content %}
<div class="d-flex align-items-center flex-column">
    <div class="card mt-5 align-items-center" style="width: 25rem;">
  <img src="{% static 'Instagram_logo.svg.png' %}" class="card-img-top" style="width: 18rem;" alt="...">
  <div class="card-body">
    <form action="{% url 'accounts:create' %}" method="post">
        <div class="text-center">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label
            {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                {% if field.errors %}
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    </form>
  </div>
</div>

</div>


{% endblock %}


