{% extends "base_webapp.html" %}
{% load staticfiles %}


{% block content %}

    <div class="row">
        <div class="avatar col-md-4 text-center">
            <img src="{{ user_obj.profile.avatar.url }}" alt="avatar" class="avatar_img">
        </div>
        <div class="user_info d-flex flex-column col-md-8 justify-content-center">
            <div class="d-flex">
                <h4>{{ user_obj.username }}</h4>
                {% if user.pk == user_obj.pk %}
                    <a href="{% url 'accounts:user_update' user.pk %}" style="border: 1px solid #efefef;" class="p-1 ml-2">
                        Редактировать профиль
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="ml-4 mt-1">
                        <img src="{% static 'logout.png' %}" alt="logout" style="width:25px;">
                    </a>
                {% else %}
                    <a href="{% url 'accounts:subscribe_to_user' user_obj.pk %}"style="border: 1px solid #efefef;" class="p-1 ml-2">
                        Подписаться
                    </a>
                {% endif %}
            </div>
            <div class="">
                <span class="mr-4"><b>{{ user_obj.pictures.all.count }}</b> публикации</span>
                <span class="mr-4"><b>{{ subscribers }}</b> подписчиков</span>
                <span class="mr-4">Подписки: <b>{{ subscribe_to }}</b></span>
            </div>
            <div class="">
                {{ user_obj.first_name }} {{ user_obj.last_name }}
            </div>
            <div>
                {{ user_obj.profile.about_me }}
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        {% for post in posts %}
        <div class="col-md-4">
            <a href="{% url 'webapp:post_detail' post.pk %}"><img src="{{ post.picture.url }}" alt="image" style="width: 100%;"></a>
        </div>
        {% endfor %}
    </div>

{% endblock %}