{% extends "base_accounts.html" %}

{% load staticfiles %}

{% block content %}
<div class="d-flex align-items-center flex-column">
    <div class="card mt-5 align-items-center" style="width: 25rem;">
  <img src="{% static 'Instagram_logo.svg.png' %}" class="card-img-top" style="width: 18rem;" alt="...">
  <div class="card-body">
    <form action="{% url 'accounts:login' %}?next={{ next }}" method="post" class="text-center">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% if form.non_field_errors %}
            <p class="form-error">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
  </div>
</div>
    <div class="card mt-2 p-3 align-items-center" style="width: 25rem;">
        <p> У вас еще нет аккаунта? <b style="color: blue;"><a href="{% url 'accounts:create' %}">Зарегистрироваться</a></b></p>
    </div>
</div>


{% endblock %}