<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>instagram</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="menu_logo">
                <a href="{% url 'webapp:index' %}" class="d-flex">
                    <img src="{% static '733614.svg'%}" alt="logo" class="main_logo">
                    <img src="{% static 'Instagram_logo.svg.png'%}" alt="logo" class="logo_text mt-1">
                </a>
            </div>
            <div>
                {% block search %}{% endblock %}
            </div>
            <div class="menu">
                <ul class="d-flex">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'webapp:post_create' %}">New post</a></li>
                    <li><a href="{% url 'accounts:user_detail' user.pk %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'accounts:logout' %}">exit</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}" class="btn btn-primary">Войти</a></li>
                    <li><a href="{% url 'accounts:create' %}" class=""><b style="color: blue;">Зарегистрироваться</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
</html>